

// Leaderboard Header

.leaderboard-header {
  background-color: #303134;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}

//leadercard
.leaderboardCard {
  color: white;
  background-color: #171819;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 15px 0px;
  border-bottom: 1px solid #444548;

  .team-container {
    display: flex;
    align-items: center;
    gap: 35px;
    min-width: 350px;

    .team-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 40px;
      height: 24px;
      width: 24px;

      img {
        height: 30px;
        width: 50px;
      }
    }



    .team-text {
        padding-left: 20px;
    }
  }

  .teamdata-container {
    display: flex;
    text-align: center;
    align-self: flex-end;
  @media only screen and (max-width: 775px) {
    display: none;
  }

    .teamdata-box {
      display: block;
      min-width: 50px;
      .databox-header {
        padding: 12px;
      }
      .databox-value {
        background-color: #444548;
        padding: 12px;
      }
    }
  }
}
