.reg-container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.submitButton::hidden {
  display: none;
}

.regButton:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

form .submitButton input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 1000ms ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .submitButton input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(50% - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

.post-reg-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.post-reg-container .post-reg-container-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.post-reg-container .post-reg-container-row1 .post-reg-icon {
  width: 51pt;
  height: 51pt;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  filter: brightness(0.2) invert(1);
}
.post-reg-container .post-reg-container-row1 .post-reg-text {
  color: white;
  flex-direction: row;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: oblique;
  font-weight: 200;
  font-size: 50px;
}
.post-reg-container .post-reg-container-row2 {
  padding: 2px;
  justify-content: center;
}
.post-reg-container .post-reg-container-row2 .post-reg-message {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
}
.button-container .button {
  max-width: 300px;
  width: 80%;
  padding: 20px 40px;
  margin: 40px 20px;
  background-color: #2702cd;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
  text-decoration: none;
}

.reveal-button {
  padding: 2px 8px;
  background-color: #2702cd;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .reg-container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .user-details {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .input-box {
    min-width: 300px;
  }
}

@media (max-width: 700px) {
  .post-reg-text {
    font-size: 24px;
  }
}

.flag-image {
  max-width: 200px;
  margin: auto;
}

/* Looper styles */
@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
  animation: slideAnim linear infinite;   
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: none;
}

.smallViewport {
  width: 140px;
  margin: auto;
}

/* Example looper content styles */
/* :root {  
  --green: #59C3C3;
  --offwhite: #EBEBEB;
  --red: #e65a5e;
} */
/* html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root {
  flex: 1;
  padding: 16px;
  font-family: sans-serif;
  color: var(--offwhite);  
  background: linear-gradient(-45deg, #4c468b, #05031a);  
} */
.description {
  margin-bottom: 16px;  
  text-align: center;
}
.contentBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin: 10px;
  padding: 16px; 
  font-weight: 600;
  text-align: center;
  border-radius: 16px;
}

.contentBlock img {
  width: 100%;
}

.contentBlock--one {  
  width: 120px;
  background: rgba(255, 255, 255, 0.05);    
  font-weight: 600;
  font-size: 18px; 
}
.contentBlock--one:last-of-type {
  color: var(--green);
  margin-right: 36px;
}

/*# sourceMappingURL=Registration.css.map */
