* {
  color: white;
}

.leadercard-container {
  background-color: #171819;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 15px 0px;
  border-radius: 5px;

  .team-container {
    display: flex;
    align-items: center;
    gap: 35px;
    .team-icon {
      display: flex;
      justify-content: flex-start;
      padding: 0px 10px;
      width: 24px; 
      height: 24px;
    }
  }

  .teamdata-container {
    display: flex;
    text-align: center;
    padding: 0px 10px;

    .teamdata-box {
      display: block;
      .databox-header {
        padding: 15px;
      }
      .databox-value {
        background-color: #444548;
        padding: 15px;
      }
    }
  }
}
